

.project-list-container {
  width: 100%;
  height: auto;
  padding: 0px 20px;
}

.project-card h1 {
  position: absolute;
}

.about-project {
  display: inline-block;
  max-width: 50%;
  height: inherit;
  background-color: aliceblue;
}