.project-card {
  border: 2px groove #0d2a3e;
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  background-size: contain;
  transform: rotateX(0deg);
  transition-duration: 1s;
  overflow: hidden;
  margin-bottom: 100px;
}

.project-card:hover {
  border-color:silver
}

h1, h2, p {
  text-shadow: rgb(14, 34, 42)  3px 0px 0px, rgb(14, 34, 42)  2.83487px 0.981584px 0px, rgb(14, 34, 42)  2.35766px 1.85511px 0px, rgb(14, 34, 42)  1.62091px 2.52441px 0px, rgb(14, 34, 42)  0.705713px 2.91581px 0px, rgb(14, 34, 42)  -0.287171px 2.98622px 0px, rgb(14, 34, 42)  -1.24844px 2.72789px 0px, rgb(14, 34, 42)  -2.07227px 2.16926px 0px, rgb(14, 34, 42)  -2.66798px 1.37182px 0px, rgb(14, 34, 42)  -2.96998px 0.42336px 0px, rgb(14, 34, 42)  -2.94502px -0.571704px 0px, rgb(14, 34, 42)  -2.59586px -1.50383px 0px, rgb(14, 34, 42)  -1.96093px -2.27041px 0px, rgb(14, 34, 42)  -1.11013px -2.78704px 0px, rgb(14, 34, 42)  -0.137119px -2.99686px 0px, rgb(14, 34, 42)  0.850987px -2.87677px 0px, rgb(14, 34, 42)  1.74541px -2.43999px 0px, rgb(14, 34, 42)  2.44769px -1.73459px 0px, rgb(14, 34, 42)  2.88051px -0.838247px 0px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.margin-right {
  margin-left: 10%;
}

.margin-left {
  margin-left: 40%;
  
}

.set-right {
  position: absolute;
  right: 100px;
}

.set-left {
  position: absolute;
  left: 100px;
}

.project-info {
  width: 50%;
}

.active-element  {
  height: 80vh;
  background-color: #0000005a;
  border-radius: 10px;
  border-color: silver;
  background-image: unset !important;
}

.active-element h1.set-left, .active-element h1.set-right {
  height: 100%;
  left: auto;
  right: auto;
  margin: auto;
  text-align: center;
  font-size: 3em;
  padding-top: 20px;
  width: 20%;
}

 .active-element h1.set-left  {
    left: 0;
    border-right: 2px groove silver;
  }

  .active-element h1.set-right  {
    right: 0;
    border-left: 2px groove silver;
  }

.opacity-0 {
  opacity: 0;
  transition-duration: 2s;
}

.project-full-info-container {
  height: 90%;
  margin-top: 120px;
  background-color: #00000078;
  width: inherit;
  border-top:  2px groove silver;
  text-align: center;
}

.align-left .project-image, .align-right .project-image {
  position: absolute;
  width: 18%;
  height: 75%;
  bottom: 8%;
  border: 2px groove #82610ef9;
  border-radius: 10px;
  background-color: #0e48712b;
}

.align-right .project-image {
  left: 1%;
}

.align-left .project-image {
  right: 1%;
}