
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-shadow: rgb(14, 34, 42)  3px 0px 0px, rgb(14, 34, 42)  2.83487px 0.981584px 0px, rgb(14, 34, 42)  2.35766px 1.85511px 0px, rgb(14, 34, 42)  1.62091px 2.52441px 0px, rgb(14, 34, 42)  0.705713px 2.91581px 0px, rgb(14, 34, 42)  -0.287171px 2.98622px 0px, rgb(14, 34, 42)  -1.24844px 2.72789px 0px, rgb(14, 34, 42)  -2.07227px 2.16926px 0px, rgb(14, 34, 42)  -2.66798px 1.37182px 0px, rgb(14, 34, 42)  -2.96998px 0.42336px 0px, rgb(14, 34, 42)  -2.94502px -0.571704px 0px, rgb(14, 34, 42)  -2.59586px -1.50383px 0px, rgb(14, 34, 42)  -1.96093px -2.27041px 0px, rgb(14, 34, 42)  -1.11013px -2.78704px 0px, rgb(14, 34, 42)  -0.137119px -2.99686px 0px, rgb(14, 34, 42)  0.850987px -2.87677px 0px, rgb(14, 34, 42)  1.74541px -2.43999px 0px, rgb(14, 34, 42)  2.44769px -1.73459px 0px, rgb(14, 34, 42)  2.88051px -0.838247px 0px;
}

.bg-image {
  /* The image used */
  background-image: url('../../../pics/dataflow.jpg');
  /* Full height */
  height: 100vh;
  width: auto;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(60%);
  border-bottom: 1px solid black;
}
